@model IEnumerable<EasyHosts.Terminal.Models.Event>

@{
    ViewBag.Title = "Eventos";
}

<h2>Eventos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organizer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventsPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attractions)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {

        <tr>
            <td>
                Nao ha eventos registrados
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameEvent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organizer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEvent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventsPlace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionEvent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attractions)
                </td>
            </tr>
        }
    }


</table>
