@model IEnumerable<EasyHosts.Terminal.Models.Bedroom>
@{
    ViewBag.Title = "Galeria de Quartos";
}

<header class="row">
    <div class="col-lg-12 col-md-12 col-12 mt-5">
        <h1 class="text-center">@ViewBag.Title</h1>
        <hr class="bg-black" />

    </div>
    <div class="col-lg-12 col-md-12 col-12 mt-5">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col">
                    <span class="text-danger"></span>
                    @using (Html.BeginForm("Pesquisar", "Home", null, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-6">
                                    @*@Html.TextBox("SearchString")*@
                                    <label for="Pesquisar-Quarto" class="form-label">Pesquisar</label>
                                    <input type="text" placeholder="Pesquisar quartos..." aria-label="Pesquisar Quartos..." name="SearchString" id="SearchString" class="form-control" value="@ViewBag.Search" />
                                    <input type="submit" value="Pesquisar" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col">
                </div>
            </div>
        </form>

    </div>

    <div class="col-lg-4 col-md-4 col-6 mt-5">
        <input type="submit" class="btn btn-outline-info p-3" value="Recomendados" />

    </div>
    <div class="col-lg-4 col-md-4 col-6 mt-5">
        <input type="submit" class="btn btn-outline-info p-3" value="Populares" />

    </div>
    <div class="col-lg-4 col-md-4 col-12 mt-5">
        <input type="submit" class="btn btn-outline-info p-3" value="Melhores Valores" />

    </div>
</header>


<main>
    <section class="row section-gallery mt-4">
        <div class="col-md-12 col-12 mt-3 mb-3">
            <h1><strong>Galeria de Quartos</strong> </h1>
        </div>

        @foreach (var item in Model)
        {
            <div class="col-lg-2 col-md-2 col-12">
                <div class="card rounded-3" style="width: 16rem;">
                    <img src="https://picsum.photos/300/330" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.NameBedroom)
                        </h5>
                        <p class="card-text">Descrição: @Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Visualizar Quarto
                        </button>

                    </div>
                </div>
            </div>
        }
    </section>
</main>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

