<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Easy Hosts Terminal</title>
    <link rel="icon" href="~/Uploads/Logo/EasyHosts.jpg">
    @Styles.Render("~/Content/bootstrap-css")
    @Styles.Render("~/Content/bootstrap-reboot-css")
    @Styles.Render("~/Content/bootstrap-utilities-css")
    @Styles.Render("~/Content/bootstrap-icons")
</head>
<body class="bg-light vh-100 d-flex align-items-center">
    <div class="container">
        <div class="content">
            @RenderBody()
        </div>
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0"><i class="bi bi-cc-circle-fill"></i> 2022 Easy Hosts</p>
            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img src="~/Uploads/Logo/EasyHosts.jpg" alt="EasyHosts" width="50" height="50">
            </a>
            <ul class="nav col-md-4 justify-content-end">
                @Html.ActionLink("Inicio", "Index", "Terminal", new { area = "" }, new { @class = "nav-link px-2 text-muted" })
                @Html.ActionLink("Menu", "Menu", "Terminal", new { area = "" }, new { @class = "nav-link px-2 text-muted" })
                @Html.ActionLink("Galeria de Quartos", "Quartos", "Terminal", new { area = "" }, new { @class = "nav-link px-2 text-muted" })
                @Html.ActionLink("Eventos", "Eventos", "Terminal", new { area = "" }, new { @class = "nav-link px-2 text-muted" })
            </ul>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/mybundle")
    @RenderSection("scripts", required: false)
</body>
</html>
