@model EasyHosts.Terminal.Models.Bedroom
@using EasyHosts.Terminal.Models.Enums
@{
    ViewData["Title"] = "Detalhes do Quarto";
}

<main>
    <h1 class="h1">Easy Hosts</h1>
    <div class="row">
        <div class="card p-3">
            <div class="col-md-12 text-center">
                <img src="@Url.Action("GetImageBedroom","Terminal", new { id = Model.Id })" class="text-center img-fluid w-50" alt="imagem do quarto" />
            </div>
        </div>

        <div class="col-md-12 mt-5">
            <h2>Conteúdo do quarto: @Html.DisplayFor(model => model.NameBedroom) </h2>
            <hr class="bg-dark" />
        </div>

        <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
            <div class="card text-center">
                <i class="bi bi-bookmark-check fs-1"></i>
                <p>@Html.DisplayFor(model => model.TypeBedroom.AmountOfBed) Cama(s)</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
            <div class="card text-center">
                <i class="bi bi-person-check fs-1"></i>
                <p>@Html.DisplayFor(model => model.TypeBedroom.AmountOfPeople) Pessoa(s)</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
            <div class="card text-center">
                <i class="bi bi-bookmark-check fs-1"></i>
                <p>@Html.DisplayFor(model => model.TypeBedroom.NameTypeBedroom) Tipo do Quarto</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
            <div class="card text-center">
                <i class="bi bi-bookmark-check fs-1"></i>
                <p>@Html.DisplayFor(model => model.TypeBedroom.AmountOfBed) Cama</p>
            </div>
        </div>

        <article>
            <div class="col-md-12 mt-5">
                <h2 class="h2">Sobre:</h2>
                <hr class="bg-dark" />
            </div>

            <p class="text-md-start p-5">
                <strong class="fw-bold">Detalhes:</strong>  @Html.DisplayFor(model => model.Description)
            </p>
        </article>


        <aside class="row">
            <div class="col-md-12 mt-5">
                <h2 class="h2">Comodidades do apartamento:</h2>
                <hr class="bg-dark" />
            </div>

            @if (Model.TypeBedroom.ApartmentAmenities == TypeBedroomClass.Prata)
            {


                <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
                    <div class="card text-center">
                        <i class="bi bi-fan fs-1"></i>
                        <p>Ar-Condicionado</p>
                    </div>
                </div>



            }
            else if (Model.TypeBedroom.ApartmentAmenities == TypeBedroomClass.Ouro)
            {
                <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
                    <div class="card text-center">
                        <i class="bi bi-router fs-1"></i>
                        <p>Wi-fi</p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
                    <div class="card text-center">
                        <i class="bi bi-bookmark-check fs-1"></i>
                        <p>Frigobar</p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
                    <div class="card text-center">
                        <i class="bi bi-three-dots fs-1"></i>
                        <p>Banheira</p>
                    </div>
                </div>
            }
            else if (Model.TypeBedroom.ApartmentAmenities == TypeBedroomClass.Diamante)
            {
                <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
                    <div class="card text-center">
                        <i class="bi bi-fan fs-1"></i>
                        <p>Ar-Condicionado</p>
                    </div>
                </div>

                <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
                    <div class="card text-center">
                        <i class="bi bi-router fs-1"></i>
                        <p>Wi-fi</p>
                    </div>
                </div>


                <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
                    <div class="card text-center">
                        <i class="bi bi-bookmark-check fs-1"></i>
                        <p>Frigobar</p>
                    </div>
                </div>


                <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
                    <div class="card text-center">
                        <i class="bi bi-three-dots fs-1"></i>
                        <p>Banheira</p>
                    </div>
                </div>
            }



        </aside>

    </div>

    <div class="row">
        <div class="d-flex align-items-center justify-content-center">
            <a href="@Url.Action("Quartos", "Terminal", new { area = "" })" class="p-lg-3 m-5"><i class="text-dark bi bi-arrow-left-circle-fill fs-1"></i></a>
        </div>
    </div>




</main>


