@model IEnumerable<EasyHosts.Terminal.Models.Event>
@using EasyHosts.Terminal.Models.Enums;
@{
    ViewData["Title"] = "Eventos";
}

<main>
    <section class="row section-gallery text-center">
        <div class="card p-2 my-5">
            <h1>Nossas Opções de @ViewData["Title"] <i class="bi bi-calendar-event-fill fs-2 text-dark"></i></h1>
        </div>

        @if (Model.Count() == 0)
        {
            <div class="d-flex align-items-center justify-content-center p-5">
                <div class="card">
                    <div class="card-header p-3">
                        No momento não temos eventos em nosso sistema!
                    </div>
                    <div class="card-body p-5">
                        <p class="card-text">Volte para o menu de opções.</p>
                        <a href="@Url.Action("Index", "Terminal", new { area = "" })" class="btn btn-light p-2"><i class="bi bi-house-fill text-dark fs-1"></i></a>
                    </div>
                    <div class="card-footer text-muted">
                        Atualizado em: <strong>@DateTime.Now.ToString("dd/MM/yyyy")</strong>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="card">
                <div class="card-body">
                    <h1>@ViewData["Title"] de Show</h1>
                </div>
            </div>

            foreach (var item in Model)
            {
                if (item.TypeEvent == EventType.Show)
                {
                    <div class="d-flex justify-content-center col-sm-6 col-md-4 col-lg-3">
                        <div class="card rounded-3 m-2" style="width: 22rem;">
                            <img src="https://picsum.photos/230/280" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                }

            }
            <div class="card">
                <div class="card-body">
                    <h1>@ViewData["Title"] de Comedia</h1>
                </div>
            </div>
            foreach (var item in Model)
            {
                if (item.TypeEvent == EventType.Comedia)
                {
                    <div class="d-flex justify-content-center col-sm-6 col-md-4 col-lg-3">
                        <div class="card rounded-3 m-2" style="width: 22rem;">
                            <img src="https://picsum.photos/230/280" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                }

            }
            <div class="card">
                <div class="card-body">
                    <h1>@ViewData["Title"] de Religiao</h1>
                </div>
            </div>
            foreach (var item in Model)
            {
                if (item.TypeEvent == EventType.EventosReligiosos)
                {


                    <div class="d-flex justify-content-center col-sm-6 col-md-4 col-lg-3">
                        <div class="card rounded-3 m-2" style="width: 22rem;">
                            <img src="https://picsum.photos/230/280" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                    </div>
                }
            }
        }

    </section>
</main>
