@model IEnumerable<EasyHosts.Terminal.Models.Event>
@using EasyHosts.Terminal.Models.Enums;
@{
    ViewData["Title"] = "Eventos";
}

<main>
    <section class="row section-gallery text-center">
        <div class="card mb-3 border-0 py-3" style="background-color: #04091d;">
            <h1 class="fw-lighter" style="color: #f3ae01">Nossas Opções de @ViewData["Title"]</h1>
        </div>
        @if (Model.Count() == 0)
        {
            <div class="d-flex align-items-center justify-content-center p-5">
                <div class="card">
                    <div class="card-header p-3">
                        No momento não temos eventos em nosso sistema!
                    </div>
                    <div class="card-body p-5">
                        <p class="card-text">Volte para o menu de opções.</p>
                        <a href="@Url.Action("Index", "Terminal", new { area = "" })" class="btn btn-light p-2"><i class="bi bi-house-fill text-dark fs-1"></i></a>
                    </div>
                    <div class="card-footer text-muted">
                        Atualizado em: <strong>@DateTime.Now.ToString("dd/MM/yyyy")</strong>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="card mb-3" style="background-color: #04091d;">
                <div class="card-body mx-0">
                    <h3 class="fw-lighter" style="color: #f3ae01">@ViewData["Title"] de Show</h3>
                </div>
            </div>

            foreach (var item in Model)
            {
                if (item.TypeEvent == EventType.Show)
                {
                    <div class="d-flex justify-content-center col-lg-3 col-md-4 col-sm-6 ">
                        <div class="card rounded-3 m-2" style="width: 22rem;">
                            <img src="@Url.Action("GetImageEvent","Terminal", new { id = item.Id })" alt="imagem do evento" />
                            <div class="card-body">
                                <h6 class="card-title">Nome Evento: @Html.DisplayFor(modelItem => item.NameEvent)</h6>
                                <hr />
                                <p class="card-text">Data do Evento: @Html.DisplayFor(modelItem => item.DateEvent)</p>
                            </div>
                        </div>
                    </div>
                }

            }
            <div class="card my-3" style="background-color: #04091d;">
                <div class="card-body mx-0">
                    <h3 class="fw-lighter" style="color: #f3ae01">@ViewData["Title"] de Comédia</h3>
                </div>
            </div>
            foreach (var item in Model)
            {
                if (item.TypeEvent == EventType.Comédia)
                {
                    <div class="d-flex justify-content-center col-sm-6 col-md-4 col-lg-3">
                        <div class="card rounded-3 m-2" style="width: 22rem;">
                            <img src="@Url.Action("GetImageEvent","Terminal", new { id = item.Id })" alt="imagem do evento" />
                            <div class="card-body">
                                <h6 class="card-title">Nome Evento: @Html.DisplayFor(modelItem => item.NameEvent)</h6>
                                <hr />
                                <p class="card-text">Data do Evento: @Html.DisplayFor(modelItem => item.DateEvent)</p>
                            </div>
                        </div>
                    </div>
                }

            }
            <div class="card my-3" style="background-color: #04091d;">
                <div class="card-body mx-0">
                    <h3 class="fw-lighter" style="color: #f3ae01">@ViewData["Title"]</h3>
                </div>
            </div>
            foreach (var item in Model)
            {
                if (item.TypeEvent == EventType.Evento)
                {
                    <div class="d-flex justify-content-center col-sm-6 col-md-4 col-lg-3">
                        <div class="card rounded-3 m-2" style="width: 22rem;">
                            <img  src="@Url.Action("GetImageEvent","Terminal", new { id = item.Id })" alt="imagem do evento" />
                            <div class="card-body"  >
                                <h6 class="card-title">Nome Evento: @Html.DisplayFor(modelItem => item.NameEvent)</h6>
                                <hr />
                                <p class="card-text">Data do Evento: @Html.DisplayFor(modelItem => item.DateEvent)</p>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="card my-3" style="background-color: #04091d;">
                <div class="card-body mx-0">
                    <h3 class="fw-lighter" style="color: #f3ae01">@ViewData["Title"] Culturais</h3>
                </div>
            </div>
            foreach (var item in Model)
            {
                if (item.TypeEvent == EventType.Culturais)
                {
                    <div class="d-flex justify-content-center col-sm-6 col-md-4 col-lg-3">
                        <div class="card rounded-3 m-2" style="width: 22rem;">
                            <img src="@Url.Action("GetImageEvent","Terminal", new { id = item.Id })" alt="imagem do evento" />
                            <div class="card-body">
                                <h6 class="card-title">Nome Evento: @Html.DisplayFor(modelItem => item.NameEvent)</h6>
                                <hr>
                                <p class="card-text">Data do Evento: @Html.DisplayFor(modelItem => item.DateEvent)</p>
                            </div>
                        </div>
                    </div>
                }
            }
        }

    </section>
</main>
