@model EasyHosts.Terminal.Models.ViewModels.CheckoutViewModel

@{
    ViewBag.Title = "FinalizarCheckout";
}

<h2>Finalizar Checkout</h2>

<div>
    <h4>CheckoutViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChechoutId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChechoutId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsergId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsergId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
