@model EasyHosts.Terminal.Models.ViewModels.CheckinCheckoutViewModel
@{
    ViewBag.Title = "Menu";
}

<header>
    <h1 class="text-center mt-2 mb-2 fw-bold">Menu</h1>
    <hr class="bg-dark" />
</header>

<main class="d-flex justify-content-around">
    <div class="lineone">
        <div class="mt-3">
            <div class="card bg-dark text-white" style="width: 20rem;">
                <img src="https://picsum.photos/370/370" class="card-img rounded" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title text-center">
                        <a href="@Url.Action("Quartos", "Terminal", new { area = "" })"><i class="text-dark bi bi-arrow-right-circle-fill fs-1"></i></a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <a asp-area="" asp-controller="Terminal" asp-action="">
                <div class="card bg-dark text-white" style="width: 20rem;">
                    <img src="https://picsum.photos/370/371" class="card-img rounded" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-center bg-info p-3 rounded">
                            @Html.ActionLink("Eventos Disponiveis", "Eventos", "Terminal", new { area = "" }, new { @class = "text-center" })
                        </h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="linetwo">
        <div class="mt-3">
            <div class="card bg-dark text-white" style="width: 20rem;">
                <img src="https://picsum.photos/371/370" class="card-img rounded" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title text-center bg-info p-3 rounded">
                        <i class="text-dark bi bi-calendar2-check-fill fs-1" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    </h5>
                </div>
            </div>
        </div>
        <div class="mt-3 mb-1">
            <div class="card bg-dark text-white" style="width: 20rem;">
                <img src="https://picsum.photos/370/372" class="card-img rounded" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title text-center bg-danger p-3 rounded">
                        @Html.ActionLink("Checkout", "Checkout", "Terminal", new { area = "" }, new { @class = "text-center" })
                    </h5>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Fazer Checkin</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Checkin", "Terminal", null, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(model => model.Checkin.Booking.CodeBooking, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Checkin.Booking.CodeBooking, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Checkin.Booking.CodeBooking, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Checkin.User.Cpf, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Checkin.User.Cpf, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Checkin.User.Cpf, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Checkin" class="btn btn-success" />
                        </div>
                    </div>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
