
@{
    ViewBag.Title = "Menu";
}

<header class="row">

    <h1 class="text-center mt-2 mb-2"><strong>Menu</strong></h1>
    <div class="col-md-12">
        <hr class="bg-dark" />
    </div>
</header>

<main class="">
    <div class="row">
        <div class="offset-md-2 col-md-4 col-10 mt-3 ">
            <div class="card bg-dark text-white" style="width: 20rem;">
                <img src="https://picsum.photos/370/370" class="card-img rounded" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title text-center bg-info p-3 rounded">
                        @Html.ActionLink("Quartos Disponiveis", "Quartos", "Terminal", new { area = "" }, new { @class = "text-center" })
                    </h5>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-10 mt-3">
            <a asp-area="" asp-controller="Terminal" asp-action="">
                <div class="card bg-dark text-white" style="width: 20rem;">
                    <img src="https://picsum.photos/370/371" class="card-img rounded" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-center bg-info p-3 rounded">
                            @Html.ActionLink("Eventos Disponiveis", "Eventos", "Terminal", new { area = "" }, new { @class = "text-center" })
                        </h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="offset-md-2 col-md-4 col-10 mt-3 ">
            <div class="card bg-dark text-white" style="width: 20rem;">
                <img src="https://picsum.photos/371/370" class="card-img rounded" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title text-center bg-danger p-3 rounded">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Checkin
                        </button>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-10 mt-3 mb-1 ">
            <div class="card bg-dark text-white" style="width: 20rem;">
                <img src="https://picsum.photos/370/372" class="card-img rounded" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title text-center bg-danger p-3 rounded">
                        @Html.ActionLink("Checkout", "Checkout", "Terminal", new { area = "" }, new { @class = "text-center" })
                    </h5>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Fazer Checkin</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @*<div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Checkin</button>
            </div>
        </div>
    </div>
</div>
