@model IEnumerable<EasyHosts.Terminal.Models.Bedroom>
@{
    ViewBag.Title = "Galeria de Quartos";
}

<header>
    <div class="mt-5">
        <h1 class="text-center fw-bold">@ViewBag.Title</h1>
        <hr class="bg-black" />
    </div>

    <form asp-action="Search">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <span class="text-danger"></span>
        @using (Html.BeginForm("Pesquisar", "Home", null, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="d-flex justify-content-around">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*@Html.TextBox("SearchString")*@
                <label for="Pesquisar-Quarto" class="form-label my-auto">Pesquisar</label>
                <input type="text" placeholder="Pesquisar quartos..." aria-label="Pesquisar Quartos..." name="SearchString" id="SearchString" class="form-control w-50" value="@ViewBag.Search" />
                <input type="submit" value="Pesquisar" class="btn btn-primary" />
            </div>
        }
    </form>

    <div class="d-flex justify-content-between mt-5">
        <input type="submit" class="btn btn-outline-info p-3" value="Recomendados" />
        <input type="submit" class="btn btn-outline-info p-3" value="Populares" />
        <input type="submit" class="btn btn-outline-info p-3" value="Melhores Valores" />
    </div>
</header>

<main>
    <section class="row section-gallery text-center">
        <div class="title my-5">
            <h1>Nossas Opções</h1>
        </div>
        @if (Model.Count() == 0)
        {
            <div class="card text-center shadow bg-body rounded">
                <div class="card-header">
                    Nao ha quartos registrados
                </div>
                <div class="card-body">
                    <h5 class="card-title">No Momento nao temos quartos em nosso sistema!</h5>
                    <p class="card-text">Volte para o menu de opcoes</p>
                    @Html.ActionLink("Voltar", "Menu", "Terminal", new { area = "" }, new { @class = "btn btn-primary" })
                </div>
                <div class="card-footer text-muted">
                    Atualizado em: <strong>@DateTime.Now.ToString("dd/MM/yyyy")</strong>
                </div>
            </div>
        }
        else
        {
            foreach (var item in Model)
            {
                <div class="d-flex justify-content-center col-sm-6 col-md-4 col-lg-3">
                    <div class="card rounded-3 m-2" style="width: 16rem;">
                        <img src="https://picsum.photos/300/330" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                @Html.DisplayFor(modelItem => item.NameBedroom)
                            </h5>
                            <p class="card-text">Descrição: @Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Visualizar Quarto
                            </button>

                        </div>
                    </div>
                </div>
            }
        }
    </section>
</main>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

