@model IEnumerable<EasyHosts.Terminal.Models.Bedroom>
@{
    ViewBag.Title = "Galeria de Quartos";
}

<header>
    <div class="mt-5">
        <h1 class="text-center fw-bold">@ViewBag.Title</h1>
        <hr class="bg-black" />
    </div>

    @using (Html.BeginForm("Pesquisar", "Terminal", null, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*@Html.TextBox("SearchString")*@
                <input type="text" placeholder="Pesquisar quartos..." aria-label="Pesquisar Quartos..." name="SearchString" id="SearchString" class="form-control" value="@ViewBag.Search" />
            </div>
            <div class="col">
                <input type="submit" value="Pesquisar" class="btn btn-primary" />

            </div>

        </div>
    }

    <div class="d-flex justify-content-between mt-5">

        @using (Html.BeginForm("Recomendados", "Terminal", null, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-outline-info p-3" value="Recomendados" />

        }

        <input type="submit" class="btn btn-outline-info p-3" value="Populares" />
        <input type="submit" class="btn btn-outline-info p-3" value="Melhores Valores" />
    </div>
</header>

<main>
    <section class="row section-gallery text-center">
        <div class="title my-5">
            <h1>Nossas Opções</h1>
        </div>
        @if (Model.Count() == 0)
        {
            <div class="card text-center shadow bg-body rounded">
                <div class="card-header">
                    No momento não temos quartos em nosso sistema!
                </div>
                <div class="card-body">
                    <p class="card-text">Volte para o menu de opções.</p>
                    @Html.ActionLink("Voltar", "Menu", "Terminal", new { area = "" }, new { @class = "btn btn-primary" })
                </div>
                <div class="card-footer text-muted">
                    Atualizado em: <strong>@DateTime.Now.ToString("dd/MM/yyyy")</strong>
                </div>
            </div>
        }
        else
        {
            foreach (var item in Model)
            {
                <div class="d-flex justify-content-center col-sm-6 col-md-4 col-lg-3">
                    <div class="card rounded-3 m-2" style="width: 16rem;">
                        <img src="https://picsum.photos/300/330" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                Nome do quarto:@Html.DisplayFor(modelItem => item.NameBedroom)
                            </h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Descrição: @Html.DisplayFor(modelItem => item.Description)</p>

                            <a class="btn btn-primary" title="Detalhes" href="@Url.Action("DetalhesQuarto", "Terminal", new { id = item.Id })">
                                Visualizar Quarto
                            </a>

                        </div>
                    </div>
                </div>
            }
        }
    </section>
</main>
