@model EasyHosts.Terminal.Models.Booking
@{
    ViewBag.Title = "Sumario do Check-out";
}

<h1 class="text-center">@ViewBag.Title</h1>

<div class="container">
    <div class="row mt-3">
        <div class="d-flex justify-content-center col-sm-12 col-md-6 col-lg-6">
            <div class="card p-4">
                <h2 class=" text-center">Informacoes do Usuario</h2>
                <div class="card-body">
                    <p class="">Nome: @Html.DisplayFor(model => model.User.Name)</p>
                    <p class="">CPF: @Html.DisplayFor(model => model.User.Cpf)</p>
                    <p class="">Email: @Html.DisplayFor(model => model.User.Email)</p>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center col-sm-12 col-md-6 col-lg-6">
            <div class="card p-4">
                <div class="card-body">
                    <h2 class=" text-center">Informacoes do Quarto</h2>
                    <p class="">Quarto: @Html.DisplayFor(model => model.Bedroom.NameBedroom)</p>
                    <p class="">Valor por dia do quarto: R$@Html.DisplayFor(model => model.Bedroom.Value)</p>
                    <p class="">Valor da reserva: R$@Html.DisplayFor(model => model.ValueBooking)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center col-sm-12 col-md-12 col-lg-12">
        @using (Html.BeginForm("FinalizarCheckout", "Terminal", null, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <input type="submit" value="Finalizar Checkout" class="btn btn-success p-3" />

        }
    </div>
</div>